<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello world</title>
</head>
<body>
    <h1>hello home</h1>

    <table>
        <tr>
            <th>name</th>
            <th>age</th>
            <th>sex</th>
        </tr>



        <tr>
            <td>1</td>
            <td>3</td>
            <td>
                <input type="button" value="edit"/>
                <input type="button" value="delete"/>
                <input type="button" value="add"/>
            </td>
        </tr>

    </table>



</body>
</html>